.profile__title {
    color: #FFF;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 42px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
    max-width: 294px;
    margin-top: 0;
    margin-bottom: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    align-self: center;
}

@media screen and (max-width: 680px) {
    .profile__title {
        font-size: 27px;
        line-height: 33px;
        justify-self: center;
        max-width: 158px;
    }
}